<div *ngFor="let product of productDetail">
  <div class="card" *ngIf="product.name===tabletName">
    <!-- code here to display the full details of the specific product as card -->
    <div class="card-header">
      <h1>{{product.name}}</h1></div>
    <div class="card-body">
      <p><b>Salt Composition</b></p>
      <p>{{product.saltCompostion}}</p>
      <p><b>about:</b></p>
      <p>{{product.about}}</p>
      <p><b>use:</b></p>
      <p>{{product.use}}</p>
      <p><b>sideEffects:</b></p>
      <p>{{product.sideEffects}}</p>
    </div>
    <div class="card-footer">
      <p><b>Note:</b> consume as prescribed by physcian</p>
    </div>
  </div>
</div>